In [1]:
import pandas as pd

# Imputation CookHLA included in HATK

HATK returns `*.ped` and `*.alleles`

# hped to bmarker

## load data

### Imputation output

In [3]:
allele=pd.read_csv("/data/wschoi/ch6845_cowork/KCHIP_ch6845/CookHLA_result_HAN_China_v5/finition/KCHIP_HLA.hg18.intersection_HAN.LABELED.MERGED.MHC.HLA_IMPUTATION_OUT.alleles",sep=' ',header=None)
print(allele.shape)
allele.head()

(1006976, 7)

            0           1  2      3          4    5      6
0  BHAN000001  BHAN000001  A  02,26  0206,2602  0.5  0.500
1  BHAN000002  BHAN000002  A  02,31  0206,3101  0.5  0.500
2  BHAN000003  BHAN000003  A  30,02  3004,0207  0.5  0.490
3  BHAN000004  BHAN000004  A  02,26  0201,2601  0.5  0.500
4  BHAN000005  BHAN000005  A  33,02  3303,0201  0.5  0.495

In [4]:
hped=pd.read_csv("/data/wschoi/ch6845_cowork/KCHIP_ch6845/CookHLA_result_HAN_China_v5/finition/KCHIP_HLA.hg18.intersection_HAN.LABELED.MERGED.MHC.HLA_IMPUTATION_OUT.hped",sep='\t',header=None)
print(hped.shape)
hped.head()

(125872, 22)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,BHAN000001,BHAN000001,0,0,0,-9,206,2602,1501,3501,...,202,202,501,501,103,503,301,601,803,803
1,BHAN000002,BHAN000002,0,0,0,-9,206,3101,5401,4005,...,103,201,201,1301,103,201,601,202,803,701
2,BHAN000003,BHAN000003,0,0,0,-9,3004,207,1401,4002,...,103,202,501,1301,103,104,402,601,404,803
3,BHAN000004,BHAN000004,0,0,0,-9,201,2601,4006,3514,...,103,103,201,501,601,601,301,303,901,1202
4,BHAN000005,BHAN000005,0,0,0,-9,3303,201,5101,4403,...,103,103,201,401,102,302,303,604,901,1302

### cped example file

In [2]:
cped_example=pd.read_csv("HATK/example/wtccc_filtered_58C_RA.hatk.300+300.imgt3320.2field.chped",sep='\t',header=None)
print(cped_example.shape)
cped_example.head()

(600, 22)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,WTCCC66159,WTCCC66159,0,0,0,-9,A*02:01,A*02:01,B*44:02,B*55:01,...,DPA1*01:03,DPA1*01:03,DPB1*03:01,DPB1*04:02,DQA1*03:01,DQA1*03:01,DQB1*03:01,DQB1*03:01,DRB1*04:01,DRB1*04:07
1,WTCCC66160,WTCCC66160,0,0,0,-9,A*01:01,A*02:01,B*08:01,B*15:01,...,DPA1*01:03,DPA1*01:03,DPB1*02:01,DPB1*03:01,DQA1*01:02,DQA1*02:01,DQB1*02:02,DQB1*06:03,DRB1*07:01,DRB1*15:01
2,WTCCC66161,WTCCC66161,0,0,0,-9,A*02:01,A*11:01,B*14:01,B*37:01,...,DPA1*01:03,DPA1*01:03,DPB1*02:01,DPB1*02:01,DQA1*02:01,DQA1*05:01,DQB1*02:02,DQB1*03:01,DRB1*07:01,DRB1*11:01
3,WTCCC66162,WTCCC66162,0,0,0,-9,A*01:01,A*03:01,B*07:02,B*07:02,...,DPA1*01:03,DPA1*01:03,DPB1*04:01,DPB1*04:01,DQA1*01:02,DQA1*03:01,DQB1*03:02,DQB1*06:02,DRB1*04:04,DRB1*15:01
4,WTCCC66163,WTCCC66163,0,0,0,-9,A*01:01,A*03:01,B*07:02,B*57:01,...,DPA1*01:03,DPA1*01:03,DPB1*04:01,DPB1*04:01,DQA1*01:02,DQA1*02:01,DQB1*03:03,DQB1*06:02,DRB1*07:01,DRB1*15:01

## formatting (hped to chped)

In [5]:
chped=hped.copy()
for i in range(6,chped.shape[1]):
    allele_type=cped_example[i][0].split('*')[0]

    four_field_first=(chped[i]/100).astype(int).astype(str).str.zfill(2)
    four_field_second=(chped[i]%100).astype(int).astype(str).str.zfill(2)

    chped_format=allele_type+'*'+four_field_first+':'+four_field_second
    chped[i]=chped_format

In [9]:
chped.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,BHAN000001,BHAN000001,0,0,0,-9,A*02:06,A*26:02,B*15:01,B*35:01,...,DPA1*02:02,DPA1*02:02,DPB1*05:01,DPB1*05:01,DQA1*01:03,DQA1*05:03,DQB1*03:01,DQB1*06:01,DRB1*08:03,DRB1*08:03
1,BHAN000002,BHAN000002,0,0,0,-9,A*02:06,A*31:01,B*54:01,B*40:05,...,DPA1*01:03,DPA1*02:01,DPB1*02:01,DPB1*13:01,DQA1*01:03,DQA1*02:01,DQB1*06:01,DQB1*02:02,DRB1*08:03,DRB1*07:01
2,BHAN000003,BHAN000003,0,0,0,-9,A*30:04,A*02:07,B*14:01,B*40:02,...,DPA1*01:03,DPA1*02:02,DPB1*05:01,DPB1*13:01,DQA1*01:03,DQA1*01:04,DQB1*04:02,DQB1*06:01,DRB1*04:04,DRB1*08:03
3,BHAN000004,BHAN000004,0,0,0,-9,A*02:01,A*26:01,B*40:06,B*35:14,...,DPA1*01:03,DPA1*01:03,DPB1*02:01,DPB1*05:01,DQA1*06:01,DQA1*06:01,DQB1*03:01,DQB1*03:03,DRB1*09:01,DRB1*12:02
4,BHAN000005,BHAN000005,0,0,0,-9,A*33:03,A*02:01,B*51:01,B*44:03,...,DPA1*01:03,DPA1*01:03,DPB1*02:01,DPB1*04:01,DQA1*01:02,DQA1*03:02,DQB1*03:03,DQB1*06:04,DRB1*09:01,DRB1*13:02

## saving chped

In [7]:
chped.to_csv('data/genotype/hped/KCHIP.chped',sep='\t',header=None,index=None)

## run bmarkergenerator in HATK

```
conda activate HATK

```

in HATK directory

```
python3 HATK.py \
    --bmarkergenerator \
    --variants /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/unimputed_hg18/KCHIP_HLA.hg18.intersection_HAN.LABELED \
    --chped /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/hped/KCHIP.chped \
    --out  /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP \
    --hg 18 \
    --dict-AA example/RESULT_EXAMPLE/HLA_DICTIONARY_AA.hg18.imgt3320 \
    --dict-SNPS example/RESULT_EXAMPLE/HLA_DICTIONARY_SNPS.hg18.imgt3320
```

Namespace(Ggroup=False, HLA=None, NoCaption=False, Pgroup=False, aa=None, ar=None, bmarkergenerator=True, chped='/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/hped/KCHIP.chped', condition=None, condition_list=None, covar=None, covar_name=None, dict_AA='example/RESULT_EXAMPLE/HLA_DICTIONARY_AA.hg18.imgt3320', dict_SNPS='example/RESULT_EXAMPLE/HLA_DICTIONARY_SNPS.hg18.imgt3320', fam=None, fourF=False, hat=None, heatmap=False, hg='18', hla2hped=False, hped=None, imgt=None, imgt2seq=False, imgt_dir=None, input=None, leave_NotFound=False, logistic=False, manhattan=False, maptable=None, metaanalysis=False, multiprocess=1, no_indel=False, nomencleaner=False, omnibus=False, oneF=False, out='/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP', phased=None, pheno=None, pheno_name=None, platform=None, point_color='#778899', point_size='15', reference_allele=None, rhped=None, s1_bim=None, s1_logistic_result=None, s2_bim=None, s2_logistic_result=None, save_intermediates=False, threeF=False, top_color='#FF0000', twoF=False, variants='/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/unimputed_hg18/KCHIP_HLA.hg18.intersection_HAN.LABELED', yaxis_unit='10')

[bMarkerGenerator.py]: Making Reference Panel for "/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP"

[1] Generating Amino acid(AA)sequences from HLA types.
[2] Encoding Amino acids positions.
[3] Encoding HLA alleles.
[4] Generating DNA(SNPS) sequences from HLA types.
[5] Encoding SNP positions.
[6] Extracting founders.
[7] Merging SNP, HLA, and amino acid datasets.
Error: Identical A1 and A2 alleles on line 46 of
/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP_HLA.hg18.intersection_HAN.LABELED.FOUNDERS.QC.bim.
[8] Performing quality control.
Error: Failed to open
/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP.MERGED.FOUNDERS.bed.
awk: fatal: cannot open file /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP.MERGED.FOUNDERS.FRQ.frq' for reading (그런 파일이나 디렉터리가 없습니다)
awk: fatal: cannot open file /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP.MERGED.FOUNDERS.FRQ.frq' for reading (그런 파일이나 디렉터리가 없습니다)
Error: Failed to open
/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP.MERGED.FOUNDERS.bed.
Error: Failed to open
/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP.bed.
[9] Making reference panel for HLA-AA,SNPS,HLA and Normal variants(SNPs) is Done!

[HLA_Study.py]: bMarkerGenerator result(Prefix) : 
/home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP

In [ ]:
python3 HATK.py \
    --bmarkergenerator \
    --variants example/wtccc_filtered_58C_RA.hatk.300+300.chr6.hg18 \
    --chped example/wtccc_filtered_58C_RA.hatk.300+300.imgt3320.2field.chped \
    --out MybMarkerGenerator/RESULT_EXAMPLE_wtccc_filtered_58C_RA.hatk.300+300.chr6.hg18 \
    --hg 18 \
    --dict-AA example/RESULT_EXAMPLE/HLA_DICTIONARY_AA.hg18.imgt3320 \
    --dict-SNPS example/RESULT_EXAMPLE/HLA_DICTIONARY_SNPS.hg18.imgt3320

In [ ]:
python3 HATK.py \
    --bmarkergenerator \
    --variants HATK/example/wtccc_filtered_58C_RA.hatk.300+300.chr6.hg18 \
    --chped /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/hped/KCHIP.chped \
    --out  /home/ch6845/GWAS/MHC_phewas_testbench/data/genotype/bmarker/KCHIP \
    --hg 18 \
    --dict-AA example/RESULT_EXAMPLE/HLA_DICTIONARY_AA.hg18.imgt3320 \
    --dict-SNPS example/RESULT_EXAMPLE/HLA_DICTIONARY_SNPS.hg18.imgt3320